<div class="bg-white">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Squid</span>
          {{template "partials/logo" .}}
        </a>
      </div>
      <div class="lg:flex lg:flex-1 lg:justify-end gap-4">
        <a class="block rounded-md bg-blue-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-blue-700"
          href="/uas/login">
          Login
        </a>

        <a class="hidden rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-blue-600 transition hover:text-blue-600/75 hidden lg:block"
          href="/uas/register">
          Register
        </a>
      </div>
    </nav>
  </header>
  <div class="relative isolate px-6 pt-14 lg:px-8 lg:flex lg:h-screen lg:items-center">
    <div class="mx-auto px-4 py-32 lg:flex">
      <div class="mx-auto max-w-xl text-center">
        <h1 class="text-3xl font-extrabold sm:text-5xl">
          Welcome to Squid
          <strong class="font-extrabold text-blue-700 sm:block">
            One Interface, Multiple APIs
          </strong>
        </h1>

        <p class="mt-4 sm:text-xl/relaxed">
          Access a variety of APIs through our API proxy service. From web scraping to data retrieval,
          we offer a range of functionalities to suit your needs.
        </p>

        <div class="mt-8 flex flex-wrap justify-center gap-4">
          <a class="block w-full rounded bg-blue-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-blue-700 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto"
            href="/get-started">
            Get Started
          </a>

          <a class="block w-full rounded px-12 py-3 text-sm font-medium text-blue-600 shadow hover:text-blue-700 focus:outline-none focus:ring active:text-blue-500 sm:w-auto"
            href="/about">
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
</div>